useDynLib(scanr, .registration = TRUE)
importFrom(graphics,abline)
importFrom(graphics,barplot)
importFrom(graphics,box)
importFrom(graphics,grid)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,par)
importFrom(stats,setNames)
importFrom(utils,head)
importFrom(utils,tail)
export(covering_metric)
export(cpd_metrics)
export(f1_score_cpd)
export(ipm_statistic)
export(match_change_points)
export(plot_change_points)
export(plot_swal_curve)
export(plot_thresholds)
export(plot_time_series)
export(plot_vote_scree)
export(plot_window_votes)
export(precision_recall_cpd)
export(refine_cusum)
export(refine_wasserstein)
export(scan_cpd)
export(scan_single_window)
export(swal_statistic)
export(wasserstein_statistic)
S3method(print,scanr_result)
S3method(print,scanr_window_result)
