useDynLib(Scanr, .registration = TRUE)
importFrom(rlang,.data)
importFrom(stats,setNames)
importFrom(utils,head)
importFrom(utils,tail)
export(covering_metric)
export(cpd_metrics)
export(f1_score_cpd)
export(ipm_statistic)
export(vis_change_points)
export(vis_swal_curve)
export(vis_thresholds)
export(vis_time_series)
export(vis_vote_scree)
export(vis_window_votes)
export(precision_recall_cpd)
export(ts_cusum)
export(ts_wasserstein)
export(scan_cpd)
export(scan_single_window)
export(swal_statistic)
export(one_wasserstein_distance)
S3method(print,scanr_result)
S3method(print,scanr_window_result)
